.table {
  overflow-x:auto;
  border: 1px solid black;
  width:100%;

  th, td {
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even){background-color: #f2f2f2}

  &__headerRow {
    border: 1px solid black;
    border-bottom: 2px solid black;
    padding: 20px;

    &__headerCell {
      padding: 20px;
    }
  }
}

.deviceRowContainer {
  button {
    background: none;
    color: inherit;
    border: none;
    padding: 20px;
    cursor: pointer;
    outline: inherit;
  }
  button:hover{
    background-color: gray;
  }
}

.deviceRow {
  padding:20px;

  &__cell:hover{
    background: beige;
  }

  &__cell {
    margin: 10px;

    input {
      padding:10px;
    }

    input:disabled {
      background-color: grey;
    }

    &__removeButtonContainer {
      display: flex;
      align-content: center;
      button {
        border: 2px solid black;
        padding: 5px 20px;
        background: none;
      }
    }
  }
}

.deviceTableControl {
  display: flex;
  padding-bottom: 20px;
  padding-top: 20px;

  &__createButton{
    background: none;
    border-radius: 10px;
    border: 2px solid black;
    padding:10px;
    margin-right: 20px;
    margin-left: 20px;
  }

  &__deviceIdInput {
    border-radius: 5px;
    background: none;
  }
}